<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.google.android.apps.bard" />
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <application
        android:allowBackup="false"
        android:label="Jessica HUD"
        android:theme="@style/HudTheme"
        android:usesCleartextTraffic="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="com.samsung.android.dex.launchwidth" android:value="1280" />
            <meta-data android:name="com.samsung.android.dex.launchheight" android:value="720" />
        </activity>
    </application>
</manifest>
